/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/
*{
  box-sizing: border-box;
}

body{
  background-color: #F2F1E8;
  /*width: 1280px;*/
  /*background-color: black;*/
}
/*body > div.page_content > header > div > img{
  /* attempting to move logo to left side */

.img-logo{
  width: 40px;
  height: auto;
  float: left;
  margin-top: 5px;
  margin-left: 38px;
  /*box-shadow: 0 1px 5px #D3D3D3;*/
  /*justify-content: center;*/

  /*align-items: flex-start;*/
}

.title{
  text-align: center;
  display: block;
  /*margin: auto;*/
  font-size: 60px;
  font-family: Merriweather, Arial, sans-serif;
  font-weight: normal;
  /*font-weight: normal;*/
  /*padding-left: 15%;*/
  /*background-color: black;*/
}

body > main > div > div:first-child{
  margin-top: 80px;
}


body > main > div > div > p:nth-child(2){
  font-size: 44px;
  font-weight: lighter;
  margin-top: -50px;
  color:
}

/*header a{
  /*float: left;*/
  /*display: inline;*/

.site_header{
  /*display: flex;*/
  align-items: center;
  width: 100%;
  /*justify-content: center;*/
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 9999;
  /*text-align: center;
  align-self: center;*/
}

.main_navigation{
  display: flex;
  justify-content: center;
  height: 50px;
  padding-left: 23px;
  /*padding-right: 45px;*/
  /*box-shadow: 0 1px 5px #D3D3D3;*/
  /*position:fixed;*/
  /*top: 0;*/
  /*width: 100%;*/
}

.nav-bar{
  box-shadow: 0 2px 5px #D3D3D3;
}

/*.main_navigation:after {
  content: "";
  clear: both;
  /*display: block;}*/


.main_navigation a{
  display: flex;
  color: #131511;
  font-family: Roboto;
  text-transform: uppercase;
  /*padding-left: 55px;*/
  /*padding-top: 15px;*/
  vertical-align: middle;
  /*text-align: center;*/
  align-self: center;
  margin-right: 100px;
  justify-content: center;
}

/*>.main_navigation a:visited{
  color: #968772;
}*/

/*a:link, a:active{
  color: #968772;
}

a.current:link, a.current:active{
  color: #968772;
  font-weight: bold;*/

.main_navigation a:hover{
  color: #CD5D67;
}
.main_navigation a:active{
  color: #968772;
}


  /*NAV BAR*/

.page_content {
  /*width: 1230px;*/
  /*display: flex;*/
  /*margin: 0 auto;*/
  padding: 25px;
  /*max-width: 1280px;*/  /******************last change*************/
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/
  /*align-items: center;*/
}
/*.page{
  padding-right: 25px;
  padding-left: 25px;
}*/

.product-images{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  padding: 0px;
  /*padding-right: 25px;*/
  /*padding-left: 25px;*/
  /*justify-content: space-between;*/
  margin: 0 -8px;
  /*padding: 10px;*/
}

.prod {
  position: relative;
  margin: 8px;
  /*justify-content: space-between;*/
}

#prod1{
  height: 368px;
  width: 100%;
  /*flex: 1 1 55%;*/
  /*width:  732px;*/
  object-fit: cover;
  /*margin-bottom: 5px;*/
}

#product-1{
  flex: 1 1 55%;
}

#prod2{
  height: 368px;
  /*width:  235px;*/
  object-fit: cover;
  width: 100%;
}
#product-2{
  flex: 1 1 15%;
}

#prod3{
  height: 368px;
  /*width:  235px;*/
  object-fit: cover;
  width: 100%;
}

#product-3{
  flex: 1 1 15%;
}

#prod4{
  height: 240px;
  width:  100%;
  object-fit: cover;
}

#product-4{
  flex: 1 1 15%;
}

#prod5{
  height: 240px;
  width:  100%;
  object-fit: cover;
}

#product-5{
  flex: 1 1 15%;
}

#prod6{
  height: 240px;
  width:  100%;
  object-fit: cover;
}

#product-6{
  flex: 1 1 35%;
}

#prod7{
  height: 240px;
  width:  100%;
  object-fit: cover;
}

#product-7{
  flex: 1 1 15%;
}


.image_tag {
  font-size: 20px;
  position: absolute;
  bottom: 15px;
  color: #fff;
  background-color: #2C2F27;
  padding: 15px;
  letter-spacing: 0.5px;
}

footer{
  color: #fff;
  text-align: left;
  background-color: #2C2F27;
  padding: 30px;
  font-size: 20px;
  font-family; Merriweather, Arial, sans-serif;
  letter-spacing: 0.5px;
}

/*.bottom_row{
  position: absolute;
  bottom: 15px;
  color: #fff;
  background-color: #2C2F27;
  margin-top: 15px;
}*/

/**** ABOUT PAGE START ****/

.wrapper{

}


.about {
  margin: 0 215px;
  font-family: "Merriweather";
  line-height: 2.30;
}

.about p{
  font-size: 1.4em;
}

.about h2{
  font-size: 35px;
  margin-bottom: 0;
}

.artists {
  font-size: 4.1em;
  text-align: center;
  font-weight: lighter;
}

.birdhouse{
  float: left;
  height: 160px;
  width: 120;
  margin-right: 30px;
  margin-bottom: 12px;
}

.intro p{
  margin-right: -12px;
}

blockquote {
  font-size: 1.25em;
  font-style: italic;
  font-weight: lighter;
  padding-left: 70px;
  border-left: 2px solid #817057;
  margin-left: 0;
  margin-right: 124px;
}

.middle p{
  margin-top: 0;
}

.grow {
  color: #FFFFFF;
  font-size: 2.2em;
  /*font-weight: 50;*/
  /*text-align: center;*/
  background-image: url("images/background-3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 322px;
  display: flex;
  justify-content: center;
  object-fit: cover;
  /*width: 100%;*/
  margin-left: -229px;
  margin-right: -215px;
  /*margin: -48.24 auto;*/
  /*
  align-content: center;*/
  /*width: 100%;*/
  /*margin: 0 auto; */
}

.facs{
  margin-right: 200px;
}

.shelf{
  width: 160px;
  height: 120px;
  /*float: right;*/
}
.outro{
  margin-right: 200px;
}

.aside{
  float: right;
  font-size: 8px;
  word-wrap: normal;
  width: 160px;
  /*display: block;*/
  /*text-align: center;*/
  object-fit: cover;
  position: relative;
  bottom: 365px;
  margin-right: 200px;
}

.aside p{
  /*display: block;*/
  text-align: left;
  text-size: 1.43em;
  line-height: 2.1;
  position: relative;

}

table{
  border-collapse: collapse;
  height: 245px;
  width: 692px;
}
table, td, th{
  border: 1px solid #2C2F27;
  padding-left: 15px;
  margin-bottom: 55px;        /* 692 x 245 */
}
.center{
  text-align: center;
}
.color{
  background-color: #F1EBDD;
}
/**** END OF ABOUT PAGE ****/

/* NEWSLETTER PAGE START */

.news{
  display: flex;
  background-image: url("images/background-2.jpg");
  min-height: 100vh;
  background-size: cover;
  justify-content: center;
  font-family: "Merriweather";
}

.signup{
  position: relative;
  top: 45px;
  text-align: center;
  padding: 35px 32px 31px 32px;
  background-color: #FFFFFF;
  margin-top: 45px;
  width: 613px;
  height: 381px;


}

.headline{
  font-size: 30px;
  font-weight: lighter;
  width: 99%;
  margin-top: 8px;

}
.subheadline{
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  font-size: 1.17em;
  font-weight: normal;
}
.person_name{
  margin-top: 45px;
  /*margin-bottom: 8px;*/
  text-align: left;
  border-bottom: 2px solid #968772;
  font-family: "Roboto";
  color: #757575;
}

.person_name input{
  border: 0;
  width: 90%
}
.person_name:focus{
  border-color: #967343;
}

.person_email{
  margin-top: 40px;
  margin-bottom: 31px;
  text-align: left;
  border-bottom: 2px solid #968772;
  font-family: "Roboto";
  color: #757575;

}

.person_email input{
  border: 0;
  width: 90%;
}

.button input{
  padding: 20px 30px;
  background-color: #968772;
  color: #FFFFFF;
  font-family: "Roboto";
}
